<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="ment.css">
</head>
<body>

<form method="get" action="/signupsubmit">
  <div class="bg"> 
    <a class="sow" style="margin-left:1000px;margin-top: 10px;justify-content: space-evenly;"  href="http://localhost:3000/signup">Signup</a>
    <a  class="sow" style="margin-left:50px ;margin-top: 50px;" href="http://localhost:3000/signin">Login</a>
  <div class="topbar"><h1 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">Drone Registration</h1>
    <marquee style="flex-wrap: wrap-reverse;">Registrations Are open Apply Now...!<u>22-08-2023  to 01-09-2023</u></marquee>
  </div>
<div class="leftbar"></div>
  <div class="border">
    <div class="align"><br>
    <label class="item">Enter Your Name</label><br>
     <input type="text" class="item1" name="name" placeholder="Rohith Kumar Pathiwada"><br>
    <label class="item">Registered Number</label><br>
    <input type="text"  class="item1" name="regno" placeholder="ex.21pa1a04c7" required><br>
    <label class="item">Mobile Number</label><br>
    <input type="text" class="item1" name="phn"  required><br><br><br><br><br><br><br><br><br><br>
    <label class="item"> College Mail Id</label><br>
    <input type="text" class="item1" name="mail" required><br>
     </div>
   <div class="flex"> 
     <label class="bra">Branch</label><br>
    <select name="branch" class="branch" placeholder="branch"><br>
        <optgroup label="Cs Branches">
          <option value="cse">CSE</option>
          <option value="it">IT</option>
          <option value="aids">AIDS</option>
          <option value="aiml">AIML</option>
          <option value="csbs">CSBS</option>
          <option value="other">other</option>
        </optgroup>
        <optgroup label="Non Cs Branches">
          <option value="ece">ECE</option>
          <option value="eee">EEE</option>
          <option value="mech">MECH</option>
          <option value="civil">CIVIL</option>
          <option value="other">other</option>
        </optgroup>
      </select>
    <label class="sec">Section</label><br>
    <select id="Section" name="section"><br>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
</div><br>
<button class="btn" style="margin-left: 280px;margin-top: 20px;padding-top:5px;padding-bottom: 5px;">Submit
</button>
<p style="margin-top: 20px;"><u>NOTE:</u> Students Who are rigisterd login with College mail And Regd No As Password.</p>
<div class="foot">
<a href="#" class="hov">Contact</a>
<a href="#" class="hov">Feedback</a>
</div>
</div>
</div>
</form>
</body>
</html>